@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Roboto:wght@300;400&display=swap');

/* reset */
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 600;}
header, main, footer, section, article, aside, nav {display: block;}
a {color: inherit; text-decoration: inherit;}
a img {border: none;}
img {vertical-align: middle; max-width: 100%;}
li {list-style: none;}

/*layout*/
.wrap {position: relative;  font-family: 'Noto Sans KR', sans-serif; letter-spacing: -1px;}

/*fullPage*/
.section {background-size: cover; position: relative;}
#section1 {background-image: url(../img/section1.jpg);}
#section2 {background-image: url(../img/section2.jpg);}
#section3 {background-image: url(../img/section3.jpg);}
#section4 {background-image: url(../img/section4.jpg);}

/*header*/
header { position: relative; width: 100%; max-width: 1200px; z-index: 9999; margin: 0 auto; }
.logo { position:fixed; display: flex; justify-content: space-between; align-items: center; width: 100%; max-width: 1200px; margin-top: 25px; }
.logo img { width: 70px; height: 50px;}

.container { position: relative; top: 0 }

/* triggerBtn */
.container input[id=trigger] { display: none; transition: all 300ms}
.container label[for=trigger] { width: 30px; height: 20px; display: block; cursor: pointer; transform: translateY(-50%); transition: 0.3s;}
.container label[for=trigger] span { position: absolute; height: 2px; background-color: #FFFFFF; width: 100%; left: 0; transition: 0.3s; }
.container label[for=trigger] span:nth-child(1) { top: 0; }
.container label[for=trigger] span:nth-child(2) { top: 50% }
.container label[for=trigger] span:nth-child(3) { top: 100%; }

.inner-btn { position: relative; margin: 35px 0 0 35px; }

/* sidebar */
.container .sidebar { background-color: #000000; width: 410px; height: 100vh; right: -410px; position: fixed; opacity: 0.9; z-index: 99999; color: #FFFFFF; top: 0; }
.container .sidebar .sidemenu { margin-top: 50px; font-size: 20px; position: relative; text-align: center;}
.container .sidebar .sidemenu:hover { text-decoration: underline; }
.container input[id=trigger]:checked + label[for=trigger] { position: relative; z-index: 99999999; }
.container input[id=trigger]:checked + label[for=trigger] span:nth-child(1) { top:50%; transform: rotate(45deg); }
.container input[id=trigger]:checked + label[for=trigger] span:nth-child(2) { opacity: 0; }
.container input[id=trigger]:checked + label[for=trigger] span:nth-child(3) { top:50%; transform: rotate(-45deg); }
.container input[id=trigger]:checked ~ .sidebar { box-sizing: border-box; padding: 50px 0; right: 0; }



/* rightNav */
.fullPageWrap {position: relative;}
.fullPageWrap .rightNav{position: fixed; top:40%; right: 40px; width: 100px; }
.fullPageWrap .rightNav li {height: 30px; line-height: 30px;}
.fullPageWrap .rightNav li a{display: block; width: 100%; height: 100%; color:#FFFFFF; font-size: 15px; text-align:left; position: relative;}
.fullPageWrap .rightNav li a span {display: block; text-align:right; position: absolute; top:0; right: 50px; opacity: 0; transition: all 0.25s ease;}
.fullPageWrap .rightNav li a:after {content: ''; display: block; position: absolute; top:50%;right: 0; width: 8px; height: 8px; border-radius: 4px; background: rgba(255,255,255,0.5); }
/*rightNav motion*/
.fullPageWrap .rightNav li.active a span {opacity: 1; right: 30px; transition: all 0.25s ease-in-out;}
.fullPageWrap .rightNav li.active a:after {right: -2px; width: 12px; height: 12px;border:2px solid #FFFFFF; border-radius: 12px;  background: rgba(255,255,255,0); box-sizing: border-box;margin-top: -6px; }


/*section1*/
#section1 {position: relative; height: 100%;}
#section1 .inner {width: 100%;}
#section1 .inner .topBox {position: absolute; top:20%; left: 50%; transform: translate(-50%,-100px);width: 900px; text-align: center; opacity: 0.5;transition: all 0.2s ease; }
#section1 .inner .topBox .tit {color:#fff; font-size: 65px; line-height: 1.4; font-weight: 300;}
#section1 .inner .topBox .tit span{display: block; font-weight: 500; font-size: 80px;}
/*section1 motion*/
#section1.active .inner .topBox  {transform: translate(-50%,0);opacity: 1; transition-delay: 0.2s; transition: all 1.2s ease-in-out;}


/*section2*/
#section2 {position: relative; height: 100%;}
#section2 .inner {width: 1200px; position: absolute;  top:40%; left: 40%; transform: translate(-50%,-50%);}
#section2 .inner .label {width: 140px; padding: 10px 0;  color:#fff; font-size: 17px; background: #000; text-align: center; opacity: 0; transform: translate(30px, 0px); transition: all 1.2s ease;}
#section2 .inner .label:hover{ color: #000000; background: #FFFFFF; }
#section2 .inner .tit {float: left;  margin-top: 35px;color:#fff; font-size: 40px; line-height: 1.2; letter-spacing: -1px;opacity: 0; transform: translate(30px, 0px); transition: all 1.2s ease; }
#section2 .inner .tit span { font-weight: 700; font-size: 50px;}
/*section2 motion*/
#section2.active .inner .label {opacity: 1; transform: translate(0px, 0px); transition: all 1.2s ease-in-out;}
#section2.active .inner .tit {opacity: 1; transform: translate(0px, 0px); transition: all 1.2s ease-in-out;}

/*section3*/
#section3 {position: relative; height: 100%;}
#section3 .inner {width: 1200px; position: absolute;  top:40%;left: 40%; transform: translate(-50%,-50%);}
#section3 .inner .label {width: 140px; padding: 10px 0;  color:#fff; font-size: 17px; background: #000; text-align: center; opacity: 0; transform: translate(30px, 0px); transition: all 1.2s ease;}
#section3 .inner .label:hover{ color: #000000; background: #FFFFFF; }
#section3 .inner .tit {float: left;  margin-top: 35px;color:#fff; font-size: 40px; line-height: 1.2; letter-spacing: -1px;opacity: 0; transform: translate(30px, 0px); transition: all 1.2s ease; }
#section3 .inner .tit span { font-weight: 700; font-size: 50px;}
/*section3 motion*/
#section3.active .inner .label {opacity: 1; transform: translate(0px, 0px); transition: all 1.2s ease-in-out;}
#section3.active .inner .tit {opacity: 1; transform: translate(0px, 0px); transition: all 1.2s ease-in-out;}


/*section4*/
#section4 {position: relative; height: 100%;}
#section4 .inner {width: 1200px; position: absolute;  top:40%;left: 40%; transform: translate(-50%,-50%);}
#section4 .inner .label {width: 140px; padding: 10px 0;  color:#fff; font-size: 17px; background: #000; text-align: center; opacity: 0; transform: translate(30px, 0px); transition: all 1.2s ease;}
#section4 .inner .label:hover{ color: #000000; background: #FFFFFF; }
#section4 .inner .tit {float: left;  margin-top: 35px;color:#fff; font-size: 40px; line-height: 1.2; letter-spacing: -1px;opacity: 0; transform: translate(30px, 0px); transition: all 1.2s ease; }
#section4 .inner .tit span { font-weight: 700; font-size: 50px;}
/*section4 motion*/
#section4.active .inner .label {opacity: 1; transform: translate(0px, 0px); transition: all 1.2s ease-in-out;}
#section4.active .inner .tit {opacity: 1; transform: translate(0px, 0px); transition: all 1.2s ease-in-out;}


/*footer*/
.footer {background: #fff; height:auto;}
.footer .topBox {border-bottom: 1px solid #ddd; height: 55px; line-height: 55px;}
.footer .topBox ul {width: 1100px; margin: 0 auto;overflow: hidden;}
.footer .topBox ul li {float: left; width: 16.6666%;}
.footer .topBox ul li a {display: block; width: 100%; height: 100%; text-align:center; font-size: 14px; color:#444;}
.footer .bottomBox {width: 1100px; margin: 0 auto;overflow: hidden; padding: 40px 0;}
.footer .bottomBox h2 {float: left;}
.footer .bottomBox .add {float: left; margin-left: 50px; font-size: 14px; color:#888; letter-spacing: -1px;}
.footer .bottomBox .add li {line-height: 1.6;}
.footer .bottomBox .add li:last-child {font-size: 12px; margin-top: 20px;}

